[Server]
port=9032

#Full path to ffmpeg including filename
#For windows: ffmpeg=c:\Program Files\pyTivo\plugins\video\ffmpeg_mp2.exe
#For linux:   ffmpeg=/usr/bin/ffmpeg
#ffmpeg=c:\Program Files\pyTivo\plugins\video\ffmpeg_mp2.exe
ffmpeg=/usr/bin/ffmpeg

#This will make a large debug.txt file in your base directory.  It only 
#debugs transcode.py right now.
#debug=false

#  Max video bitrate, default 17408k
#    sets ffmpeg -maxrate setting to minimize bitrate peak playback issues.
#    mpegs with video bitrate above this setting will also be transcoded.
#MAX_VIDEO_BR=17408k

# Audio bit-rate, defaults to 192K for S2, 384K for S3/HD
#audio_br=320K

# Video bit-rate, defaults to 4096K for S2, 8192K for S3/HD
#video_br=12Mi

#Beacon broadcast address(es)
#Typically use 255.255.255.255, but on some multihomed machines you may
#need to specify the subnet broadcast address(es) of your Tivo boxes
#beacon=255.255.255.255

#  Output Pixel Width:
#   Width, defaults to 544 for S2, 1280 for S3/HD
#   Height, defaults to 480 for S2, 720 for S3/HD
#   Valid widths: [S3/HD = 1920, 1440, 1280], [S2/S3/HD = 720, 704, 544, 480, 352]
#   Valid heights: [S3/HD = 1080, 720], [S2/S3/HD = 480]
#width=1280
#height=720
#ffmpeg_prams=-vcodec mpeg2video -r 29.97 -b %(video_br)s -maxrate %(max_video_br)s -bufsize %(buff_size)s %(aspect_ratio)s -comment pyTivo.py %(audio_codec)s -ab %(audio_br)s -copyts -f vob -

##Per tivo options
# section named _tivo_TSN with the tsn in all caps
#[_tivo_00000DEADBEEF]

#If you want to use 16:9 or 4:3 on this tivo
#aspect169=true
#width=1440
#height=720
#audio_br=320K
#video_br=12Mi
#ffmpeg_prams=-vcodec mpeg2video -r 29.97 -b %(video_br)s -maxrate %(max_video_br)s -bufsize %(buff_size)s %(aspect_ratio)s -comment pyTivo.py %(audio_codec)s -ab %(audio_br)s -copyts -f vob -

[MyMovies]
#Type can be 'video', 'music', or 'photo'
type=video

#Path is the full path to your files (No trailing slash needed)
#For windows: path=c:\videos
#For linux:   path=/media
path=/home/armooo/Videos

#Make all subfolders in to top level shares
#auto_subshares= True

##You can have more than one share
#[MyTelevision]
#type=video
#path=d:\television
