[Server]
port=9032


#Full path to ffmpeg including filename
#For windows: ffmpeg=c:\Program Files\pyTivo\plugins\video\ffmpeg_mp2.exe
#For linux:   ffmpeg=/usr/bin/ffmpeg
#ffmpeg=c:\Program Files\pyTivo\plugins\video\ffmpeg_mp2.exe
ffmpeg=/usr/bin/ffmpeg

#This will make a large debug.txt file in you base directory.  It only debugs
#transcode.py right now.
#debug=false

# Audio bit-rate, default 192K
#audio_br=192K

# Video bit-rate, default 4096K
#video_br=12Mi

#Beacon broadcast address(es)
#Typically use 255.255.255.255 but on some multihomed machines you may
#need to specify the subnet broadcast address(es) of your Tivo boxes
#beacon=255.255.255.255

#Output Pixel Width: if you have an HDTV you might want to try 720 or 704
#Valid: 720, 704, 544, 480, 352
#width=1440
#height=720
ffmpeg_prams=-vcodec mpeg2video -r 29.97 -b %(video_br)s -maxrate %(max_video_br)s -bufsize %(buff_size)s %(aspect_ratio)s -comment pyTivo.py -ac 2 -ab %(audio_br)s -ar 44100 -f vob -

##Per tivo options
# section named _tivo_TSN with the tsn in all caps
[_tivo_00000DEADBEEF]

#If you want to use 16:9 or 4:3 on this tivo
#aspect169=true
#width=1440
#height=720
#audio_br=320K
#video_br=12Mi
#ffmpeg_prams=-i %(in_file)s -vcodec mpeg2video -r 29.97 -b %(video_br)s -maxrate %(max_video_br)s -bufsize %(buff_size)s %(aspect_ratio)s -comment pyTivo.py -ac 2 -ab %(audio_br)s -ar 44100 -f vob -

#audio_br=320K
#video_br=12Mi

[MyMovies]
#Type can be either 'video' or 'music'
type=video

#Path is the full path to your files (No trailing slash needed)
#For windows: path=c:\videos
#For linux:   path=/media
path=/home/armooo/Videos

#Make all subfolders in to top level shares
#auto_subshares= True



##You can have more than one share
#[MyTelevision]
#type=video
#path=d:\television
