<html>
<head>
<meta http-equiv="Content-Type"
content="text/html; charset=iso-8859-1">
<title>Configure pyTivo</title>
<script language="JavaScript">
function fillBlank(){
var texts=document.getElementsByTagName('input')
for (var i_tem = 0; i_tem < texts.length; i_tem++)
if (texts[i_tem].value=='')
texts[i_tem].value=' '
}
function deleteme(boxId){
txtBox = document.getElementById(boxId);
txtBox.value = "Delete_Me";
}
</script>
</head>
<body bgcolor="#FFFFFF">
This is a very inital user interface to the HTML configurator.  While the UI looks very rough, all the features work. Simply 
make any modifications and click the Update button at the bottom of the screen.<br>
All updates will require a restart of pyTivo, however at this time this plugin cannot perform that function for you.  Restarts
must be done manually.
<form name="config" method="GET" action="TiVoConnect" onsubmit="fillBlank()">
    <input type="hidden" name="Command" value="UpdateSettings">
    <input type="hidden" name="Container" value=$container>
    <table border="0" cellpadding="0" cellspacing="0">
    <tr><td colspan="2" align="center"><b>Global Server Settings</b></td></tr>
    $server
    <tr><td colspan="2" align="center">============================</td></tr>
    <tr><td colspan="2" align="center"><b>Individual Share Settings</b></td></tr>
    $shares
    <tr><td colspan="2" align="center">----------------------------------</td></tr>
    <tr><td colspan="2" align="center"><b>Add a New Share</b></td></tr>
    <tr><td> Name:</td><td><input type='text' name='new_Share' value=''></td></tr>
    <tr><td colspan="2" align="center">The share will default to video, but this can be <br>changed on the next page</td></tr>
    <tr><td colspan="2" align="center">============================</td></tr>
    <tr><td colspan="2" align="center"><b>Individual TiVo Settings</b></td></tr>
    $tivos
    <tr><td colspan="2" align="center">----------------------------------</td></tr>
    <tr><td colspan="2" align="center"><b>Add a TiVo</b></td></tr>
    <tr><td> Name:</td><td><input type='text' name='new_TiVo' value=''></td></tr>
    <tr><td colspan="2" align="center">Remeber to start the name with _tivo_</td></tr>
    </table>
    <input type="hidden" name="Section_Map" value="$section_map">
    <p><input type="submit" name="Submit" value="Update pyTivo.conf File"></p>
</form>
</body>
</html>
