<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>pyTivo - ToGo</title>
</head>
<body style="background-color: rgb(250, 250, 250);">

<p align="center"><font size="6">pyTivo - ToGo</font></p>
<table style="border: 1px solid rgb(220, 220, 220);background-color: rgb(255, 255, 255);text-align: left; margin-left: auto; margin-right: auto;" border="0" cellpadding="0" cellspacing="4">
  <tbody>
    <tr>
      <td style="height: 48px; width: 483px;">
      <select name="tivoList">
      <option selected="selected">My Tivo</option>
      <option>Your TiVo</option>
      </select>
	  &nbsp;<input value="View Now Playing List" name="NPL" type="button"> &nbsp;</td>
    </tr>
    <tr>
      <td>
      <div style="visibility: visible; width: 920px; overflow: scroll; height: 410px; position: relative;">
      <table>
      #if $subfolder == True
      	<tr><td colspan=5><a href="/TiVoConnect?Command=NPL&Container=$container">Back to Now Playing List</a></td></tr>
      #end if
      #set $i = 0
      #for $row in $data
		  #set $i += 1
		  #if $i%2
		  	<tr style="background-color: rgb(250, 250, 250);">
		  #else
		  	<tr>
		  #end if
		  #if $row['ContentType'] == 'x-tivo-container/folder'
			<td></td>
			<td><a href='/TiVoConnect?Command=NPL&Container=$(container)&Folder=$(row["UniqueId"])'>$row['Title'] </a></td>
			<td NOWRAP align="center">$(row["TotalItems"]) Items</td>
			<td NOWRAP align="center">$row["LastChangeDate"]</td>
			<td></td>
		  #else
			#if 'Icon' in $row
				#if $row['Icon'] == 'urn:tivo:image:expires-soon-recording'
					<td><table><tr><td height=18 width=8 bgcolor='yellow'> </td></tr></table></td>
				#else if $row['Icon'] == 'urn:tivo:image:expired-recording'
					<td><table><tr><td height=18 width=8 bgcolor='yellow'><b> ! </b></td></tr></table></td>
				#else if $row['Icon'] == 'urn:tivo:image:save-until-i-delete-recording'
					<td><table><tr><td height=18 width=8 bgcolor='green'></td></tr></table></td>				
				#else
					<td width=8></td>
				#end if
			#else
				<td width=4></td>
			#end if
			<td width=*>
				<b>$row['Title']: $row['EpisodeTitle']</b><br>
				<small>$row['Description']  
				$row['SourceChannel'] $row['SourceStation']</small>
			</td>
			<td NOWRAP align="center">$row['SourceSize'] <br>
			$row['Duration']
			</td>
			<td NOWRAP align="center">$row['CaptureDate']</td>
			#if 'Url' in $row
				<td NOWRAP>
				#if $unquote($row['Url']) in $status
					#set $this_status = $status[$unquote($row['Url'])]
					#if $this_status['running'] and $this_status['rate'] != ""
						Transfering - $this_status['rate'] KB/s<br>
						<a href="/TiVoConnect?Command=ToGoStop&Container=$(container)&Url=$(row['Url'])">Stop Transfer</a>
					#elif $this_status['running'] and $this_status['rate'] == ""
						Initiating Transfer.<br>
						Please Wait
					#elif $this_status['error']
						Error - $this_status['error']<br>
						<a href="/TiVoConnect?Command=ToGo&Container=$(container)&Url=$(row['Url'])">Try Transfer Again.</a>
					#elif $this_status['finished']
						Transfer Complete!
					#else
						Transfer Stopped<br>
						<a href="/TiVoConnect?Command=ToGo&Container=$(container)&Url=$(row['Url'])">Try Transfer Again.</a>
					#endif
				#else
					<a href="/TiVoConnect?Command=ToGo&Container=$(container)&Url=$(row['Url'])">Transfer This.</a>
				#end if
				</td>
			#else
				<td></td>
			#end if
		  #end if
		  </tr>
      #end for
      </table>
      </div>
      </td>
    </tr>
  </tbody>
</table>
</body>
</html>
