<html>
<head>
<meta http-equiv="Refresh" content="10; url=/TiVoConnect?Command=Admin&Container=$container">
</head>
<body bgcolor="#FFFFFF">
$text
<br>
The <a href="/TiVoConnect?Command=Admin&Container=$container"> Admin</a> page will reload in 10 seconds.
</body>
</html>
