<?xml version="1.0" encoding="UTF-8" ?>
<TiVoContainer>
    <ItemStart>$start</ItemStart>
    <ItemCount>#echo len($files) #</ItemCount>
    <Details>
        <Title>$escape($name)</Title>
        <ContentType>x-container/folder</ContentType>
        <SourceFormat>x-container/folder</SourceFormat>
        <TotalItems>$total</TotalItems>
    </Details>
    #for $file in $files
    #if $file['is_dir']
    <Item>
        <Details>
            <Title>$escape($file.name)</Title>
            <ContentType>x-container/folder</ContentType>
        </Details>
        <Links>
            <Content>
                <ContentType>x-tivo-container/folder</ContentType>
                <Url>/TiVoConnect?Command=QueryContainer&amp;Container=$quote($name)/$quote($file.name)</Url>
            </Content>
        </Links>
    </Item>
    #elif $file['is_playlist']
    <Item>
        <Details>
            <Title>#echo '.'.join(file['name'].split('.')[:-1]) #</Title>
            <ContentType>x-tivo-container/playlist</ContentType>
        </Details>
        <Links>
            <Content>
                <ContentType>x-tivo-container/playlist</ContentType>
                <Url>/TiVoConnect?Command=QueryContainer&amp;Container=$quote($name)/$quote($file.name)</Url>
            </Content>
        </Links>
    </Item>
    #else
    <Item>
        <Details>
            #if not 'Title' in $file
            <Title>#echo '.'.join(file['name'].split('.')[:-1]) #</Title>
            #end if
            <ContentType>audio/mpeg</ContentType>
            #for $key in ('Title', 'Duration', 'ArtistName', 'SongTitle', 'AlbumTitle', 'AlbumYear', 'MusicGenre')
            #if $key in $file and $file[$key]
            <$key>$file[$key]</$key>
            #end if
            #end for            
        </Details>
        <Links>
            <Content>
                <ContentType>audio/mpeg</ContentType>
                <AcceptsParams>$file.params</AcceptsParams>
                <Url>/$quote($container)$quote($file.part_path)</Url>
            </Content>
        </Links>
    </Item>
    #end if
    #end for
</TiVoContainer>
