<?xml version="1.0" encoding="ISO-8859-1" ?>
<TiVoContainer>
    <Details>
        <Title>$hostname</Title>
        <ContentType>x-container/tivo-server</ContentType>
        <SourceFormat>x-container/folder</SourceFormat>
        <TotalItems>1</TotalItems>
    </Details>

    #for $name, $details in $containers.items()
    <Item>
        <Details>
            <Title>$name</Title>
            <ContentType>$details.type</ContentType>
            <SourceFormat>x-container/folder</SourceFormat>
        </Details>
        <Links>
            <Content>
                <Url>/TiVoConnect?Command=QueryContainer&amp;Container=$name</Url>
                <ContentType>$details.type</ContentType>
            </Content>
        </Links>
    </Item>
    #end for

    <ItemStart>0</ItemStart>
    <ItemCount>#echo len($containers) #</ItemCount>
</TiVoContainer>
