<html>
    <body>
        <h3>Unsuported Command</h3>
        Query:
        <ul>
        #for $key, $value in $query.items
            <li>$key: $value</li>
        #end for
        </ul>
    </body>
</html
