<?xml version="1.0" encoding="ISO-8859-1" ?>
<TiVoContainer>
    <ItemStart>$start</ItemStart>
    <ItemCount>#echo len($videos) #</ItemCount>
    <Details>
        <Title>$escape($name)</Title>
        <ContentType>x-container/tivo-videos</ContentType>
        <SourceFormat>x-container/folder</SourceFormat>
        <TotalItems>$total</TotalItems>
    </Details>
    #for $video in $videos
    #if $video.is_dir
    <Item>
        <Details>
            <Title>$escape($video.title)</Title>
            <ContentType>x-container/folder</ContentType>
            <SourceFormat>x-tivo-container/tivo-dvr</SourceFormat>
        </Details>
        <Links>
            <Content>
                    <Url>/TiVoConnect?Command=QueryContainer&amp;Container=$quote($name)/$quote($video.name)</Url>
                    <ContentType>x-tivo-container/folder</ContentType>
            </Content>
        </Links>
    </Item>
    #else
    <Item>
        <Details>
            <Title>$video.title</Title>
            <ContentType>video/x-tivo-mpeg</ContentType>
            <SourceFormat>video/x-ms-wmv</SourceFormat>
            <SourceSize>$video.size</SourceSize>
		<Duration>$video.duration</Duration>
        <Description>$escape($video.description)</Description>
        <EpisodeTitle>$escape($video.episodeTitle)</EpisodeTitle>
        <SourceChannel>$escape($video.sourceChannel)</SourceChannel>
        <SourceStation>$escape($video.sourceStation)</SourceStation>
        <SeriesId>$video.seriesId</SeriesId>
        </Details>
        <Links>
            <Content>
                <ContentType>video/x-tivo-mpeg</ContentType>
                    <AcceptsParams>No</AcceptsParams>
                    <Url>/$quote($name)/$quote($video.name)</Url>
                </Content>
                <CustomIcon>
                    <ContentType>video/*</ContentType>
                    <AcceptsParams>No</AcceptsParams>
                    <Url>urn:tivo:image:save-until-i-delete-recording</Url>
                </CustomIcon>
            <TiVoVideoDetails>
                <ContentType>text/xml</ContentType>
                <AcceptsParams>No</AcceptsParams>
                <Url>/TiVoConnect?Command=TVBusQuery&amp;Container=$escape($name)&amp;File=$quote($video.name)</Url>
            </TiVoVideoDetails>
        </Links>
    </Item>
    #end if
    #end for
</TiVoContainer>

